@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
  
  --color-slate-850: #1e293b;
  --color-slate-950: #020617;
}

/* Custom Scrollbar for sleek look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-track {
  background: #0f172a; 
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155; 
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
